{% extends 'base.html' %}

{% block title %}
Create new group
{% endblock %}

{% block content %}
<!--    <form method="">-->
<!--      -->
<!--            <table>-->
<!--                {{ form.as_table }}-->
<!--            </table>-->
<!--          <input type="submit" value="Create"><br><br>-->
<!--          <a href="{% url 'groups:list' %}">Back to list</a>-->
<!--        </form>-->

<div class="row">
        <div class="col-3"> </div>
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingGroup_name" placeholder="A" name="group_name">
                  <label for="floatingGroup_name">Group name</label>
                </div>
                <div class="form-floating">
                  <input type="date" class="form-control" id="floatingGstartdata" placeholder="B" name="group_start_data">
                  <label for="floatingGstartdata">Group start date</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingGdescription" placeholder="B" name="group_description">
                  <label for="floatingGdescription">Group description</label>
                </div>
              <input type="submit" class="btn btn-outline-primary mt-3" value="Create"><br>
            </form>
        </div>
        <div class="col-3"> </div>
    </div>
{% endblock %}
