{% extends 'base.html' %}

{% block title %}
List teachers
{% endblock %}

{% block content %}
    <form method="get">
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="first_name"><br><br>
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="last_name"><br><br><br>
      <input type="submit" value="Submit"><br>
    </form>
    <br>
    <a href="{% url 'teachers:create' %}">Create teacher</a>
    <br><br>
    <table>
        <thead>
            <tr>
                 <th>First name</th>
                 <th>Last name</th>
                 <th>Birthday</th>
                 <th>Salary</th>
                 <th>Update</th>
                 <th>Delete</th>
            </tr>
        <thead>
        <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td><a href="{% url 'teacher:detail' teacher.pk %}">{{ teacher.first_name }}</a></td>
                      <td>{{ teacher.last_name }}</td>
                      <td>{{ teacher.birthday }}</td>
                      <td>{{ teacher.salary }}</td>
                      <td><a href="{% url 'teacher:update' teacher.pk %}">Edit</a></td>
                      <td><a href="{% url 'teacher:delete' teacher.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


